body {
     max-width: 1440px;
}

.cabecalho {
     padding: 30px 15px;
     position: relative;
}

.cabecalho .logo {
     background: url(../images/logo.jpg) center center no-repeat;
     width: 85px;
     height: 85px;
     display: inline-block;
}

 .cabecalho .logo h1 {
     font-size: 0;
}